a {
  text-decoration: none;
}
header {
  background: transparent;
  box-shadow: 0 0 5px rgba(0, 0, 0, 0.5);
  padding: 1.5rem 0;
}

.nav {
  max-width: 1440px;
  width: 100%;
  margin: 0 auto;
  padding: 0 1rem;
}
.nav nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.nav nav .logo {
  color: rgba(209, 184, 40, 0.759);
  font-size: 1.2rem;
  cursor: pointer;
}
.nav .nav-link {
  display: flex;
}
.nav .nav-link li {
  list-style: none;
  margin: 0 0.5rem;
}

.nav ul li a {
  color: black;
  font-size: 1.3rem;
  padding: 0.7rem 1rem;
  display: block;
  border-radius: 10px;
}

.nav ul li a:hover {
  background-color: rgb(233, 211, 184);
}
.nav ul li a.active {
  background-color: rgb(214, 165, 100);
}

.content {
  position: absolute;
  top: 45%;
  left: 50%;
  transform: translate(-50%, 0%);
}
.icon {
  width: 40px;
  height: 40px;
  display: none;

  border-radius: 50%;
  font-size: 20px;
  cursor: pointer;
  padding: 10px 10px;
  transition: background 0.3s ease, color 0.3s ease;
}

.icon:hover {
  background: #333;
  color: white;
}
.close:hover {
  color: red;
  font-weight: bold;
}

@media (max-width: 768px) {
  .icon {
    display: block;
  }
  .nav .nav-link {
    flex-direction: column;
    justify-content: space-evenly;
    backdrop-filter: blur(5px);
    position: absolute;
    width: 350px;
    height: 60vh;
    top: -800px;
    right: 0;

    transform: translateY(0);
    transition: transform 0.4s ease-in-out, opacity 0.3s ease-in-out;

    z-index: 9999;
  }
  .nav-link.active {
    top: 10%;
  }
}
