a {
  text-decoration: none;
}

header {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  z-index: 1000;
  padding: 0 20px;
  height: 80px;
  display: flex;
  align-items: center;
  background-color: transparent;
}

.header.sticky {
  backdrop-filter: blur(15px);
}

.nav {
  max-width: 1440px;
  width: 100%;
  margin: 0 auto;
  padding: 0 1rem;
}

.nav nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
}

.nav nav .logo {
  font-size: 28px;
  font-weight: 800;
  cursor: pointer;
  background-image: linear-gradient(to bottom, #ffed48f1, #92882aa4);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  transition: all 0.5s ease;
}

.nav .nav-link {
  display: flex;
  transition: color 0.3s, transform 0.3s;
}

.nav .nav-link li {
  list-style: none;
  margin: 0 1rem;
}

.nav ul li a {
  font-size: 18px;
  color: #f0f0f0;
  font-weight: bold;
  text-decoration: none;
  padding: 5px 10px;
  border-radius: 25px;
  transition: color 0.3s, transform 0.3s;
}

.nav ul li a:hover {
  color: burlywood;
  transform: scale(1.1);
}

.nav ul li a.active {
  background-color: rgba(71, 75, 12, 0.611);
  text-decoration-color: gold;
}

/* Mobile Menu */
.icon {
  display: none;
  font-size: 24px;
  cursor: pointer;
  transition: color 0.3s ease;
}

.icon:hover {
  color: #f39c12;
}

.close:hover {
  color: red;
}

.content {
  position: absolute;
  top: 45%;
  left: 50%;
  transform: translate(-50%, 0%);
}

.icon {
  width: 40px;
  height: 40px;
  display: none;

  border-radius: 50%;
  font-size: 20px;
  cursor: pointer;
  padding: 10px 10px;
  transition: background 0.3s ease, color 0.3s ease;
}

.icon:hover {
  background: #333;
  color: white;
}

.close:hover {
  color: red;
  font-weight: bold;
}

@media (max-width: 768px) {
  .icon {
    display: block;
  }

  .nav .nav-link {
    flex-direction: column;
    justify-content: space-evenly;
    backdrop-filter: blur(5px);
    position: absolute;
    width: 350px;
    height: 60vh;
    top: -800px;
    right: 0;

    transform: translateY(20%);
    transition: transform 0.4s ease-in-out, opacity 0.3s ease-in-out;

    z-index: 9999;
  }

  .nav-link.active {
    top: 10%;
  }
}